.wrapper-video{

      padding: 0 135px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 45px;
}

.item-video{

      height: 270px;
      width: 100%;
      background: black;
}

.wrapper-video .wrapper-video-1{

      width: 33.33%;
}

@media only screen and (max-width: 1025px) {

      .item-video{

            height: unset;
            width: 570px;
            background: black;
      }
    
      .wrapper-video {
            padding: 0 90px;
            margin-bottom: 95px;
        }
    }

    @media only screen and (max-width: 769px) {
    
      .wrapper-video {
            padding: 0 30px;
        }
    }

    @media only screen and (max-width: 481px) {

    
      .wrapper-video{
            margin-bottom: 45px;
            gap : 5px;
      }

      .wrapper-video-1{

            width: 100%;
      }
      .content-video{

            display: none;
           
      }

      .item-video{

            width: 100%;
            height: unset;
      }
    }