
.wrapper-ganera-news{

      display: flex;
      gap: 35px;
      padding: 45px 90px;
}

.wrapper-ganera-news-left{

      width: 75%;
}

.wrapper-ganera-news-right{

      width: 25%;
}

.content-function{

      margin-bottom:unset ;
}